@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.inline {
  display: inline-block;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.card-no-padding {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 3px;
  margin: 10px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 3px;
}

.btn-outline {
  background-color: transparent;
  border: 1px white solid;
}

.btn:hover {
  transform: scale(0.98);
}

.teph-icon {
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  float: right;
}

/* Background & colored buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: white;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: white;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

/* Text sizes */

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text-center {
  text-align: center;
}

.underline-primary {
  border-bottom: var(--primary-color) 1px solid;
}

.underline-light {
  border-bottom: #fff 1px solid;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* margin */

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
